* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: #189fcc;
	text-decoration: none;
}

#container {
	width: 700px;
	max-width: 100%;
	display: block;
	margin: 0px auto 100px auto;
}

/* Alerts */
.alert {
	background-color: #189fcc66;
	padding: 20px;
	margin: 20px 0px;
	border-radius: 4px;
	box-shadow: 0px 2px 8px #00000022;
}
.alert-success {
	background-color: #06D6A066;
}
.alert-warning {
	background-color: #f47f2c66;
}
.alert-danger {
	background-color: #EF476F66;
}

/* Labels */
.label {
	background-color: #189fcc;
	border-radius: 2px;
	padding: 5px 10px;
	color: white;
	font-size: 0.7em;
	font-weight: 700;
}
.label-success {
	background-color: #06D6A0;
}
.label-warning {
	background-color: #f47f2c;
}
.label-danger {
	background-color: #EF476F;
}

.well {
	background-color: #e5e9ea;
	padding: 20px;
	border-radius: 4px;
}

/* Base Button Styling */
.bt-btn {
	-webkit-appearance: none;
	font-family: sans-serif;
	background: linear-gradient(140deg, #189fcc, #0babe0);
	box-shadow: 0px 2px 8px #189fcc40;
	color: white;
	border: none;
	padding: 10px 30px;
	margin: 5px 3px;
	font-size: 18px;
	border-radius: 4px;
	min-width: 140px;
	transition: 200ms;
}
.bt-btn:hover {
	cursor: pointer;
	opacity: 0.95;
	transition: 200ms;
}
.bt-sm {
	font-size: 14px;
	padding: 6px 18px;
	margin: 5px 1px;
	min-width: 50px;
	border-radius: 3px;
	box-shadow: 0px 2px 8px #189fcc40;
}
.bt-mega {
	font-size: 22px;
	padding: 15px 30px;
	margin: 10px 5px;
	min-width: 200px;
	border-radius: 6px;
	box-shadow: 0px 2px 8px #189fcc40;
}
/* Button Styles */
.bt-success {
	background: linear-gradient(140deg, #06D6A0, #0fe2aa);
	box-shadow: 0px 2px 8px #06D6A040;
}
.bt-warning {
	background: linear-gradient(140deg, #f47f2c, #f99045);
	box-shadow: 0px 2px 8px #f47f2c40;
}
.bt-danger {
	background: linear-gradient(140deg, #EF476F, #f7315f);
	box-shadow: 0px 2px 8px #EF476F40;
}
.bt-dark {
	background: linear-gradient(140deg, #073B4C, #08485e);
	box-shadow: 0px 2px 8px #073B4C40;
}
.bt-light {
	background: linear-gradient(140deg, #e5e9ea, #f4f4f4);
	box-shadow: 0px 2px 8px #00000030;
	color: #073B4C;
}

/* Inputs */
.input {
	padding: 10px 0px;
}
.input-text, .input-textarea, .input-upload {
	display: flex;
	flex-direction: column;
}
.input-label {
	padding-left: 3px;
}
.input-field {
	border: 1px solid #e5e9ea;
	-webkit-appearance: none;
	border-radius: 2px;
	font-size: 16px;
	padding: 6px;
	box-shadow: 0px 2px 8px #00000011;
}
textarea {
	border: 1px solid #e5e9ea;
	-webkit-appearance: none;
	border-radius: 2px;
	font-size: 16px;
	padding: 6px;
	box-shadow: 0px 2px 8px #00000011;
}
.input-mega .input-label {
	font-size: 22px;
}
.input-mega .input-field {
	font-size: 24px;
	padding: 10px;
}
.input-dropdown {
	width: 100%;
	border: 1px solid #e5e9ea;
	-webkit-appearance: none;
	border-radius: 2px;
	font-size: 16px;
	padding: 6px;
	box-shadow: 0px 2px 8px #00000011;
}
.file-upload {
	font-size: 20px;
}

/* Navigation */
.nav {
	display: flex;
	justify-content: center;
	background-color: #f4f4f4;
	margin-bottom: 30px;
	padding: auto 20px;
}
.nav-left {
	justify-content: flex-start;
}
.nav-right {
	justify-content: flex-end;
}
.nav-item {
	padding: 20px 10px;
}
.active {
	color: #000000;
}